.split-pane.background{
-fx-background-color: White;
}
.table-view.table-background{
-fx-background-color: White;
}
.table-view.column-header-background{
-fx-background-color: White;
}
.table-view.column-header {
    -fx-background-color: transparent;
}
.table-view.table-cell{
    -fx-border-color: transparent;
}